<manifest xmlns:android="http://schemas.android.com/apk/res/android"

          package="healthvault.client"
>

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="25" />

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:supportsRtl="true"
    >

    </application>

</manifest>
