<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		package="healthvault.microsoft.com.android_sdk_restclient_test"
		>

	<uses-sdk
		android:minSdkVersion="21"
		android:targetSdkVersion="25"
	/>

	<uses-permission
		android:name="android.permission.INTERNET">
	</uses-permission>

	<application android:allowBackup="true"
		android:label="@string/app_name"
		android:supportsRtl="true">
	</application>

</manifest>
